#contact {
  width: 100%;
  background-color: #333333;
  p {
    color: white;
    font-weight: 200;
    margin: unset;
    padding-bottom: 2%;
    a {
      all: unset;
      color: white;
      font-weight: 900;
      background-color: rgba(209, 25, 13, 1);
      padding: 5px;
      margin: 5px;
    }
    a:hover {
        cursor: pointer;
      }
  }

  h1 {
    margin: unset;
    color: white;
  }
}

@media(max-width:500px){
  #contact {
    padding-top: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
        line-height: 2.5;
  }
}