nav {
  height: 7vh;
  background: rgba(209, 25, 13, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  z-index: 10;

  .logo {
    font-size: 1.5rem;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom-width: 0%;
  }
}

@media (max-width: 600px) {
  nav {
    justify-content: center;
    gap: 2rem;
    a {
      font-size: 1rem;
    }
    .logo {
      display: none;
    }
  }
}
